In [28]:
import pandas as pd
from datetime import datetime

In [95]:
#the players number column, age, weight columns have NaN's in them probably can drop the number and weight columns
#as they are not features 
roster = pd.read_csv('stats_files/rosters', sep = '|')
roster.shape

/Users/MattBarlowe/.virtualenvs/prospectmodel/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(136182, 13)

In [99]:
#makes sure age matches this format and removes players which we don't have a birthdate for
#also excludes weird dates that might include dates over 31 or months over 12 or entries of 00
roster = roster[roster['Birthdate'].str.match('(\d\d\d\d)\-((?!00)0[1-9]|1[0-2])\-((?!00)(0[1-9]|[12]\d|3[01]))')]
roster.shape

(136018, 13)

In [100]:
#had two birthdates on september 31st just excluded them 
roster = roster[~roster['Birthdate'].str.match('(\d\d\d\d)\-09\-31')]
roster.shape

(136018, 13)

In [101]:
roster.head()

,#,Player,Age,Position,Birthdate,Birthplace,HT,WT,Shots,player_id,team_id,season,team
0,31,Ari Ahonen,37,G,1981-02-06,"Jyväskylä, FIN","6'1""",176,L,2691,80,2003,Albany River Rats
1,40,Scott Clemmensen,40,G,1977-07-23,"Des Moines, IA, USA","6'2""",201,L,9114,80,2003,Albany River Rats
2,NaN,Tommy Albelin,53,D,1964-05-21,"Stockholm, SWE","6'1""",194,L,701,80,2003,Albany River Rats
3,3,Daryl Andrews,41,D,1977-04-27,"Campbell River, BC, CAN","6'2""",205,L,12221,80,2003,Albany River Rats
4,7,Alex Brooks,41,D,1976-08-21,"Madison, WI, USA","6'1""",194,R,10257,80,2003,Albany River Rats

In [106]:
#Create the season start to calculate age at start of season
roster['season_start'] = roster['season'].apply(lambda x: x - 1).apply('09-1-{}'.format)
roster['season_start'] = pd.to_datetime(roster['season_start'], format='%m-%d-%Y')

In [103]:
#Convert Birthdate to datetime to subtract from season start 
roster['Birthdate'] = pd.to_datetime(roster['Birthdate'], format='%Y-%m-%d')

In [104]:
roster['Birthdate'].head()

0   1981-02-06
1   1977-07-23
2   1964-05-21
3   1977-04-27
4   1976-08-21
Name: Birthdate, dtype: datetime64[ns]

In [105]:
roster.head()

,#,Player,Age,Position,Birthdate,Birthplace,HT,WT,Shots,player_id,team_id,season,team,season_start
0,31,Ari Ahonen,37,G,1981-02-06,"Jyväskylä, FIN","6'1""",176,L,2691,80,2003,Albany River Rats,2002-10-01
1,40,Scott Clemmensen,40,G,1977-07-23,"Des Moines, IA, USA","6'2""",201,L,9114,80,2003,Albany River Rats,2002-10-01
2,NaN,Tommy Albelin,53,D,1964-05-21,"Stockholm, SWE","6'1""",194,L,701,80,2003,Albany River Rats,2002-10-01
3,3,Daryl Andrews,41,D,1977-04-27,"Campbell River, BC, CAN","6'2""",205,L,12221,80,2003,Albany River Rats,2002-10-01
4,7,Alex Brooks,41,D,1976-08-21,"Madison, WI, USA","6'1""",194,R,10257,80,2003,Albany River Rats,2002-10-01